body {
    background-color: rgb(211, 249, 255);
    text-align: center;
    padding-top: 140px;
    margin: 0 8 8 8;
}

#contenedor table {
    margin: 15px auto;
}

.pccomp{
display:inline-block;
margin: 0 auto;
}

.subform1 td{
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #7ad6f0;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    width: min-content;
    height: min-content;
}

.subform1{
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #aae2f1;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    width: max-content;
    height: max-content;
}

.subform1 div{
    margin-top: 10px;
}
.subform2{
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #aae2f1;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    width: 94%;
    height: max-content;
}

body header {
    background: rgb(166, 224, 247);
    color: rgb(0, 0, 0);
    height: 140px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
    padding-left: 100px;
}

#subimgcont {
    display: block;
}

#subimgcont nav {
    float: right;
}

#subimgcont nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 100px;
}

#subimgcont nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 13.2% 0;
}

#subimgcont nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

#subimgcont nav ul li a:hover {
    background: #7eccf0;
    color: rgb(0, 17, 255);
}

.formulario button {
    border: 1px solid #92cdd4;
    padding: 10px;
    background-color: #259cec;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.5s;
    font-weight: 600;
}

.formulario button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(55, 181, 212);
    box-shadow: 0px 0px 2px 5px rgb(41, 148, 197);
}

.formulario input{
    border: 1px solid #92cdd4;
    padding: 8px;
    background-color: #259cec;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
}

#discDisplay{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}